__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv
.venv/
ENV/
.git/
.github/
.vscode/
node_modules/
logs/
*.log
.DS_Store

uploaded_files/profile_pictures/*

# .dockerignore
**/__pycache__
**/*.pyc
.git
.gitignore
.DS_Store
*.log
*.sqlite3
venv
.venv
.idea
.vscode
*.ipynb
node_modules
**/migrations/*.py
!**/migrations/__init__.py

# Jangan include model NER yang besar (akan di-mount sebagai volume)
talent_matching_ner_model/